/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	line-height: 1;
	font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*Конец Обнуления*/

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*---шапка------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px ;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px ;
    }
}

.menu {
    padding: 5px 0px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {

}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}
.menu__link {
    color: #737373;
    font-weight: 600px;
    line-height: 24px;
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
.page {
    flex: 1 1 auto;
}
/*---подвал------------------------------------------------------------*/
.footer {

}
/*---main-block------------------------------------------------------------*/
.main-block {
    position: relative;
}
.main-block {
}
.main-block__container {
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 509px;
}
.main-block__body > *:not(:last-child) {
    margin: 0px 0px 35px 0px;
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
}
.main-block__text {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: #737373;
}
.main-block__buttons {
}
.main-block__button {
}
.main-block__button_border {
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}